.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
}

.fighter-preview___right img {
  transform: scaleX(-1);
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___left {
  align-items: flex-start;
}

.fighter-preview___info-container{
  padding: 8px 35px;
  text-align: center;
  background: #ba0303;
  color: #f8f9f4;
  font-size: 20px;
  font-weight: bold;
  border: solid;
  border-color: #000;
  text-transform: uppercase;
  }